<P>
  <button routerLink="../product-form" class="btn btn-primary">New Product</button>
</P>
<!-- <p>
  <input type="text" #query (keyup)="filter(query.value)" placeholder="Search.." class="form-control">
</p> -->

<!-- <table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tr *ngFor="let p of filteredProducts">
        <td>{{p.payload.exportVal().title}}</td>
        <td>{{p.payload.exportVal().price}}</td>
        <td>
            <a [routerLink]="['/admin/admin-products/',p.key]">Edit</a>
        </td>
    </tr>
</table> -->

<mat-form-field>
  <mat-label>Search Product</mat-label>
  <input matInput (keyup)="applyFilter(input.value)" placeholder="Ex. Veggies" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="tableResouce" matSort>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let row"> {{row.payload.exportVal().title }} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let row"> {{ row.payload.exportVal().price }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
    
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit Product </th>
      <td mat-cell *matCellDef="let row"> 
        <a [routerLink]="['/admin/admin-products/',row.key]">Edit</a> 
      </td>
    </ng-container>
    
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
